.ui-button {
    position: relative;
    display: inline-block;
    cursor: pointer;

    &:hover,
    &:focus {
        opacity: 0.75;
    }


    &--down-trans {
        opacity: 0.68;
        &:hover,
        &:focus {
            opacity: 1;
        }
    }
    &--arrow-left {
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    &--arrow-right,
    &--play,
    &--arrow-plain-up {
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    &--arrow-up {
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    > a {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: block;
        width: 100%;
        height: 100%;
    }


    &--openclose {
        opacity: 1 !important;
    }
}

.ui-button__inner {
    position: relative;
    width: 60/16 * 1rem;
    height: 60/16 * 1rem;
    transition: transform 0.4s ease-out 0s;
    will-change: transform;

    .ui-button.is-open & {
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    svg {
        position: absolute;
        top: 0;
        left: 0;
    	width: 100%;
    	height: 100%;
        path {
            fill: #000;
        }
    }
}
